name: "Testing"

on:
  pull_request:
    branches: [ master ]

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: 1.23

      - name: Run unit tests
        run: make test

  acceptance:
    name: Acceptance Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: 1.23

      - name: Run acceptance tests
        run: make testacc
